In [46]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [47]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

WebDriverWait(driver, 20).until(
    EC.presence_of_element_located((By.CLASS_NAME, "hit"))
)

In [48]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [49]:
startup_data = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [50]:
import pandas as pd

df = pd.DataFrame(startup_data)
print(df.head())

                                 name                         sectors  \
0                           VTC-India       Direct-To-Consumer Brands
1                         A New India  Software, Technology, Services
2  Topdeck India Tour Booking Pvt Ltd    Consumer, Travel/Hospitality
3            Packers And Movers India                        Services
4                     India Self News             Media, Social Media

  headquarters funding employee_count
0     Jamnagar    $500       41 to 60
1    New Delhi   $1.0k       41 to 60
2       Jaipur   $1.1k            <10
3     Vadodara   $2.0k            <10
4        Sidhi  $10.0k            <10

In [51]:
df.to_csv("yourstory_startups.csv", index=False)

In [52]:
df = pd.read_csv("yourstory_startups.csv")

In [53]:
df

,name,sectors,headquarters,funding,employee_count
0,VTC-India,Direct-To-Consumer Brands,Jamnagar,$500,41 to 60
1,A New India,"Software, Technology, Services",New Delhi,$1.0k,41 to 60
2,Topdeck India Tour Booking Pvt Ltd,"Consumer, Travel/Hospitality",Jaipur,$1.1k,<10
3,Packers And Movers India,Services,Vadodara,$2.0k,<10
4,India Self News,"Media, Social Media",Sidhi,$10.0k,<10
5,Deskmate International Couriers,Logistics,Chennai,$10.0k,21 to 40
6,Wealth4India,"Administrative Services, Services, FinTech",New Delhi,$10.0k,21 to 40
7,Adzenia,E-Commerce,Muzaffarpur,$10.0k,11 to 20
8,Global Colors of India,"Mobility / Transportation, Tourism, Travel/Hos...",Shimla,$10.0k,61 to 100
9,Sunsys Technologies,"E-Commerce, Social Media, Design, Services",Bangalore,$12.0k,11 to 20
10,Amar Food Products India,"FMCG, Manufacturing, Retail",Noida,$20.0k,<10
11,Esports Daily,"Direct-To-Consumer Brands, Entertainment, Gami...",Bangalore,$34.0k,<10
12,Cleanly,"Consumer, Retail, Services",New Delhi,$50.0k,41 to 60
13,India Internets,Services,Delhi,$60.0k,61 to 100
14,Best of Indian Products,"E-Commerce, Marketplace",Hyderabad,$60.0k,11 to 20
15,US India Blockchain Council,"Blockchain, DeepTech",Ahmedabad,$71.5k,<10
16,India App Developer,"Software, Technology, Design, Services",Ahmedabad,$75.0k,21 to 40
17,Nessco India,"Manufacturing, Technology",Jaipur,$100.0k,151 to 250
18,Techpex,"Art & Design, Consumer, E-Commerce, Services",Delhi,$100.0k,41 to 60
19,SARGRA,"Consumer, E-Commerce, Administrative Services,...",Agra,$100.0k,<10
20,TnaTan India,Social Media,Jaipur,$110.0k,21 to 40
21,Trylaa,"Community, Technology, Services, Marketplace",Hyderabad,$135.1k,<10
22,Lavos filings,"Social Media, Administrative Services, Services",Coimbatore,$150.0k,11 to 20
23,Supercarz India,Automotive,Bangalore,$200.0k,11 to 20
24,Fleksa,FoodTech,Middletown,$200.0k,11 to 20
25,Connect2MyDoctor,HealthTech / MedTech / Healthcare,Melbourne,$350.0k,11 to 20
26,DARTERS INDIA RESORT,"Art & Design, Community, Consumer, E-Commerce,...",Cuttack,$400.0k,<10
27,India Hemp and Co,"AgriTech, Manufacturing, Food & Beverages",Bangalore,$661.6k,<10
28,InstantPay,"Financial Services, SaaS, FinTech",New Delhi,$667.0k,101 to 150
29,Bolo Indya,"Community, Content, Entertainment",Gurgaon,$900.0k,21 to 40

In [54]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [55]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [56]:
startup_data1 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data1.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [57]:
import pandas as pd

df1 = pd.DataFrame(startup_data1)
print(df1.head())

                                    name                            sectors  \
0                      TRENDYLANE.INDIA™               Consumer, E-Commerce
1                Website Design in India  Art & Design, Content, E-Commerce
2   Journey Cart Holidays India Pvt. Ltd        Tourism, Travel/Hospitality
3                          The Zen India  HealthTech / MedTech / Healthcare
4  Silica Gel Desiccant - Sorbchem India                      Content, IaaS

  headquarters funding employee_count
0       Meerut       -            <10
1       Mumbai       -       11 to 20
2         Pune       -       11 to 20
3        Delhi       -            <10
4     Vadodara       -     101 to 150

In [58]:
df1.to_csv("yourstory_startups1.csv", index=False)

In [59]:
df1 = pd.read_csv("yourstory_startups1.csv")

In [60]:
df1

,name,sectors,headquarters,funding,employee_count
0,TRENDYLANE.INDIA™,"Consumer, E-Commerce",Meerut,-,<10
1,Website Design in India,"Art & Design, Content, E-Commerce",Mumbai,-,11 to 20
2,Journey Cart Holidays India Pvt. Ltd,"Tourism, Travel/Hospitality",Pune,-,11 to 20
3,The Zen India,HealthTech / MedTech / Healthcare,Delhi,-,<10
4,Silica Gel Desiccant - Sorbchem India,"Content, IaaS",Vadodara,-,101 to 150
5,Topdeck India Tour Booking Pvt Ltd,"Consumer, Travel/Hospitality",Jaipur,$1.1k,<10
6,Elevated synergy India Pvt Ltd,"HealthTech / MedTech / Healthcare, Travel/Hosp...",Puducherry,-,251 to 500
7,Electrik Mobility India,"Energy, Automotive",Hyderabad,-,21 to 40
8,Concentric Consulting India Private Limited,Analytics & BI,Chennai,-,11 to 20
9,Total India DMC - Best B2B Tour Operator In India,Travel/Hospitality,Delhi,-,41 to 60
10,Shadani India Private Limited,FMCG,Faridabad,-,251 to 500
11,Unlisted Shares India,FinTech,Gurgaon,-,11 to 20
12,Indian Souls,Content,Delhi,-,<10
13,BankU India,FinTech,Patna,-,61 to 100
14,FCOM INDIA,Clothing & Apparel,Bangalore,-,11 to 20
15,Remoteally India,Others,Delhi,-,21 to 40
16,Dingli AWP India,"Construction, E-Commerce, Others",Chennai,-,21 to 40
17,Arabiers Tours India,Travel/Hospitality,Delhi,-,11 to 20
18,ALCOI India,Art & Design,Panchkula,$10.0k,41 to 60
19,3D Car Care India,Automotive,New Delhi,-,-
20,Victory EV India,Automotive,Jhajjar,-,41 to 60
21,Shakti India Tours,Travel/Hospitality,Jaipur,-,41 to 60
22,Parakkat Pearls & Jewels (India) Pvt. Ltd.,E-Commerce,Ernakulam,-,251 to 500
23,Indian Packers And Movers,"Consumer, Collaboration",Secunderabad,-,61 to 100
24,Ice Boy India,"Consumer, FoodTech, Travel/Hospitality",Bhiwadi,-,21 to 40
25,The Statesman India,"Community, Content",Hyderabad,-,<10
26,Rehab Centre India,HealthTech / MedTech / Healthcare,Ludhiana,-,11 to 20
27,Nes Technologies - India,Energy,Delhi,-,21 to 40
28,Stellar Data Recovery India,Enterprise Tech,Gurgaon,-,501 to 1000
29,Resolute Lab India,"Aerospace & Defense, BioTech/BioPharmaceutical",Bareilly,-,<10

In [61]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [62]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [63]:
startup_data2 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data2.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [64]:
df2 = pd.DataFrame(startup_data2)
print(df2.head())

                               name  \
0                    GIVA Jewellery
1                      Vikalp India
2  Origo Commodities India Pvt. Ltd
3                          Gradatim
4        India Online Loan Services

                                        sectors headquarters funding  \
0                            E-Commerce, Retail    Bengaluru  $52.5M
1                      Gaming, EdTech/Education    New Delhi  $51.7M
2  Agriculture, AgriTech, Logistics, Blockchain      Gurgaon  $20.0M
3           Financial Services, SaaS, Insurance    Bangalore  $11.0M
4                                      Services       Mumbai   $5.0M

  employee_count
0     151 to 250
1       21 to 40
2          1000+
3      61 to 100
4            <10

In [66]:
df2.to_csv("yourstory_startups2.csv", index=False)
df2 = pd.read_csv("yourstory_startups2.csv")

In [67]:
df2

,name,sectors,headquarters,funding,employee_count
0,GIVA Jewellery,"E-Commerce, Retail",Bengaluru,$52.5M,151 to 250
1,Vikalp India,"Gaming, EdTech/Education",New Delhi,$51.7M,21 to 40
2,Origo Commodities India Pvt. Ltd,"Agriculture, AgriTech, Logistics, Blockchain",Gurgaon,$20.0M,1000+
3,Gradatim,"Financial Services, SaaS, Insurance",Bangalore,$11.0M,61 to 100
4,India Online Loan Services,Services,Mumbai,$5.0M,<10
5,Rudra Environmental Solution,"Energy, Manufacturing",Pune,$4.0M,21 to 40
6,GODI,"Energy, Manufacturing, Technology",Hyderabad,$4.0M,61 to 100
7,Tech Divinity,"Enterprise Tech, EdTech/Education",Pune,$3.0M,<10
8,UG4 INDIA,"Direct-To-Consumer Brands, Manufacturing, Real...",Gurugram,$2.0M,151 to 250
9,PayMe India,Financial Services,Noida,$2.0M,151 to 250
10,Future Choice Hospitality,"Tourism, Travel/Hospitality",Noida,$2.0M,61 to 100
11,Continual Engine,"SaaS, DeepTech, Services, EdTech/Education",Bengaluru,$2.0M,21 to 40
12,Mapmygenome,HealthTech / MedTech / Healthcare,Hyderabad,$2.0M,41 to 60
13,Eduncle,EdTech/Education,Kota,$1.0M,151 to 250
14,OK India,"AgriTech, Direct-To-Consumer Brands, E-Commerc...",Gurugram,$1.0M,41 to 60
15,Saathi,"Direct-To-Consumer Brands, Manufacturing, Serv...",Ahmedabad,$1.0M,11 to 20
16,Bolo Indya,"Community, Content, Entertainment",Gurgaon,$900.0k,21 to 40
17,InstantPay,"Financial Services, SaaS, FinTech",New Delhi,$667.0k,101 to 150
18,India Hemp and Co,"AgriTech, Manufacturing, Food & Beverages",Bangalore,$661.6k,<10
19,WLC,"AgriTech, Art & Design, Aerospace & Defense, C...",Gurgaon,$500.0k,11 to 20
20,DARTERS INDIA RESORT,"Art & Design, Community, Consumer, E-Commerce,...",Cuttack,$400.0k,<10
21,Connect2MyDoctor,HealthTech / MedTech / Healthcare,Melbourne,$350.0k,11 to 20
22,Supercarz India,Automotive,Bangalore,$200.0k,11 to 20
23,Fleksa,FoodTech,Middletown,$200.0k,11 to 20
24,Lavos filings,"Social Media, Administrative Services, Services",Coimbatore,$150.0k,11 to 20
25,Trylaa,"Community, Technology, Services, Marketplace",Hyderabad,$135.1k,<10
26,TnaTan India,Social Media,Jaipur,$110.0k,21 to 40
27,Nessco India,"Manufacturing, Technology",Jaipur,$100.0k,151 to 250
28,Techpex,"Art & Design, Consumer, E-Commerce, Services",Delhi,$100.0k,41 to 60
29,SARGRA,"Consumer, E-Commerce, Administrative Services,...",Agra,$100.0k,<10

In [68]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [69]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [70]:
startup_data3 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data3.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [71]:
df3 = pd.DataFrame(startup_data3)
print(df3.head())

                            name                           sectors  \
0         New India Construction                      Construction
1            Gadget Rental India  E-Commerce, Consumer Electronics
2  Indian School of Calisthenics        Health, wellness & fitness
3                      OEM India                        E-Commerce
4               Crayon Box India                        E-Commerce

    headquarters funding employee_count
0  Greater Noida       -     251 to 500
1         Mohali       -            <10
2         Mumbai       -            <10
3           Agra       -       11 to 20
4       Ludhiana       -            <10

In [72]:
df3.to_csv("yourstory_startups3.csv", index=False)
df3 = pd.read_csv("yourstory_startups3.csv")
df3

,name,sectors,headquarters,funding,employee_count
0,New India Construction,Construction,Greater Noida,-,251 to 500
1,Gadget Rental India,"E-Commerce, Consumer Electronics",Mohali,-,<10
2,Indian School of Calisthenics,"Health, wellness & fitness",Mumbai,-,<10
3,OEM India,E-Commerce,Agra,-,11 to 20
4,Crayon Box India,E-Commerce,Ludhiana,-,<10
5,Atlas Technologies Civil And Road Construction...,Construction,Mehsana,-,41 to 60
6,Mind Frame India,Others,Mumbai,-,21 to 40
7,Red Rock India,"Art & Design, E-Commerce, FMCG, Others, Admini...",Mumbai,-,11 to 20
8,Carhp India,Automotive,Gurugram,-,<10
9,Brandweb India,Design,Gurgaon,-,<10
10,Astroscience Technologies India Private Limited,-,Delhi,-,151 to 250
11,Student AI - India's First AI Powered USB for ...,EdTech/Education,Hyderabad,-,<10
12,Elder First - Senior Living Residences in Bhop...,Others,-,-,21 to 40
13,Spa Hibiscus India,HealthTech / MedTech / Healthcare,New Delhi,-,21 to 40
14,Zealand Immigration India Private Limited,Others,-,-,11 to 20
15,IAE Global India,"Services, EdTech/Education",New Delhi,-,41 to 60
16,The Simple Indian,"Consumer, Analytics & BI, Services",Chandigarh,-,11 to 20
17,Indiansbook,Gaming,Mumbai,-,11 to 20
18,Value Findr India,"Automotive, Marketplace",Gurgaon,-,<10
19,Effective Lab India,Enterprise Tech,Faridabad,-,11 to 20
20,Whitewolf India,"Direct-To-Consumer Brands, E-Commerce",Chandigarh,-,11 to 20
21,Ritvi Steel Buildings India,Construction,Coimbatore,-,101 to 150
22,Emerging India Analytics,EdTech/Education,Noida,-,21 to 40
23,Peddler Media Network India,"Content, Entertainment",Kurali,-,11 to 20
24,Aula India,Gaming,Bangalore,-,41 to 60
25,South Indian Jewels,"Content, Collaboration",Bangalore,-,<10
26,Dormen India,"Art & Design, E-Commerce",Delhi,-,<10
27,SEO Company India- AARInfotech,"AdTech, Services",Ghaziabad,-,<10
28,Chalbo India,"Enterprise Tech, Tourism, Travel/Hospitality",Raipur,-,11 to 20
29,Super Directory India,Others,Ahmedabad,-,<10

In [73]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [74]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [75]:
startup_data4 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data4.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [76]:
df4 = pd.DataFrame(startup_data4)
print(df4.head())

                     name                                     sectors  \
0         Buy Books India                 Consumer, Content, Services
1    Electric India Today                          Energy, Automotive
2  Indian Defence Academy                                   Education
3               EPW INDIA  E-Commerce, Hardware, Consumer Electronics
4        SEO India Online                        Technology, Services

  headquarters funding employee_count
0    New Delhi       -       11 to 20
1    Chatrapur       -            <10
2     Dehradun       -       11 to 20
3    Hyderabad       -     101 to 150
4     Dehradun       -      61 to 100

In [77]:
df4.to_csv("yourstory_startups4.csv", index=False)
df4 = pd.read_csv("yourstory_startups4.csv")
df4

,name,sectors,headquarters,funding,employee_count
0,Buy Books India,"Consumer, Content, Services",New Delhi,-,11 to 20
1,Electric India Today,"Energy, Automotive",Chatrapur,-,<10
2,Indian Defence Academy,Education,Dehradun,-,11 to 20
3,EPW INDIA,"E-Commerce, Hardware, Consumer Electronics",Hyderabad,-,101 to 150
4,SEO India Online,"Technology, Services",Dehradun,-,61 to 100
5,Society for Japanese Learners of India,"Community, Education",Ahmedabad,-,<10
6,Trade Finance India,Financial Services,Noida,-,<10
7,SmartSaas India,"SaaS, Technology, Marketplace",-,-,<10
8,INDIA KART,"E-Commerce, FMCG, Retail",Chennai,-,11 to 20
9,Chemklub India,"Enterprise Tech, Technology, Design, EdTech/Ed...",Pune,-,11 to 20
10,Recliners India,Manufacturing,New Delhi,-,251 to 500
11,Indian Developers,"SaaS, Technology, EdTech/Education",Patna,-,21 to 40
12,BULK SMS INDIA,Communication,Yamuna Nagar,-,41 to 60
13,Web Training India,"Content, Technology",Delhi,-,<10
14,V Pure India,Retail,Alwar,-,151 to 250
15,Wealth Wisdom India,"Financial Services, FinTech",Indore,-,21 to 40
16,Trip Planners India,Travel/Hospitality,Jaipur,-,11 to 20
17,Indian Rice Exporters Federation,"Consumer, Administrative Services, Services, G...",New Delhi,-,21 to 40
18,Coin Developer India,"Cryptocurrency, Technology, Blockchain",Jaipur,-,41 to 60
19,Stomenti India,Manufacturing,Ahmedabad,-,<10
20,India PHP Expert,Software,Ahmedabad,-,11 to 20
21,Haatt India Services,"Consumer, Technology, Administrative Services,...",Mumbai,-,11 to 20
22,Goodwill India,"Security, Technology, Administrative Services",Chennai,-,11 to 20
23,Chamber of Indian Startups and MSMEs,Community,Delhi,-,<10
24,Hedkey India,EdTech/Education,New Delhi,-,<10
25,Job Info India,Recruitment,Mumbai,-,<10
26,India Web Creators,Social Media,Chennai,-,<10
27,The West Indian Honey Co.,Manufacturing,Dwarka,-,21 to 40
28,Ghumo India Community,"Tourism, Travel/Hospitality",Indore,-,<10
29,Software Developers India,"Software, Technology, Services",Silicon Valley,-,61 to 100

In [78]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [79]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [80]:
startup_data5 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data5.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [81]:
df5 = pd.DataFrame(startup_data5)
print(df5.head())

                     name                                            sectors  \
0            Vision India                                           Services
1       India Yoga School                         Health, wellness & fitness
2              BMCS India                                 Financial Services
3  Four Wheel Drive India                        Tourism, Travel/Hospitality
4           The Top India  E-Commerce, Entertainment, Communication, Deep...

  headquarters funding employee_count
0        Noida       -          1000+
1      Mandrem       -       11 to 20
2       Mumbai       -       21 to 40
3       Jaipur       -       21 to 40
4       Mumbai       -            <10

In [82]:
df5.to_csv("yourstory_startups5.csv", index=False)
df5 = pd.read_csv("yourstory_startups5.csv")
df5

,name,sectors,headquarters,funding,employee_count
0,Vision India,Services,Noida,-,1000+
1,India Yoga School,"Health, wellness & fitness",Mandrem,-,11 to 20
2,BMCS India,Financial Services,Mumbai,-,21 to 40
3,Four Wheel Drive India,"Tourism, Travel/Hospitality",Jaipur,-,21 to 40
4,The Top India,"E-Commerce, Entertainment, Communication, Deep...",Mumbai,-,<10
5,BUZOOM INDIA,"E-Commerce, Technology, AdTech",Delhi,-,<10
6,Royal Trading India,Services,Gorakhpur,-,11 to 20
7,India Wave,"Content, AdTech, Services",Lucknow,-,41 to 60
8,London Institute of Banking & Finance India,Education,Gurugram,-,11 to 20
9,VTC-India,Direct-To-Consumer Brands,Jamnagar,$500,41 to 60
10,Global India Business Forum,Events,Pune,-,11 to 20
11,Opsis Consulting India,Services,Bangalore,-,11 to 20
12,News Watch India,Media,Noida,-,41 to 60
13,Navision India,"Software, Technology, Services",Noida,-,41 to 60
14,India Tours Cabs,"Tourism, Travel/Hospitality",Jaipur,-,<10
15,Supercarz India,Automotive,Bangalore,$200.0k,11 to 20
16,Regulatory Solutions India,"Services, HealthTech / MedTech / Healthcare",Gurugram,-,<10
17,BRDS India,Services,Ahmedabad,-,151 to 250
18,Aromatic Garden Essence India,E-Commerce,Gurgaon,-,41 to 60
19,Space India,"Real Estate, Services",Navi Mumbai,-,<10
20,Corvids India,"E-Commerce, Retail",Jaipur,-,61 to 100
21,Samriddhnam Vocational Training Institute of I...,Education,Noida,-,<10
22,IndiAI,"FinTech, Analytics & BI, Services, EdTech/Educ...",Mumbai,-,<10
23,Great Indian services,Construction,Bangalore,-,11 to 20
24,Deloitte India,"Technology, Automotive, Services",Bengaluru,-,1000+
25,Indian Tech School,EdTech/Education,Jaipur,-,21 to 40
26,GIEC GLOBAL INDIA,Travel/Hospitality,New Delhi,-,61 to 100
27,ESS India,"Software, Technology",Noida,-,501 to 1000
28,Niceway India,"E-Commerce, Manufacturing",Muktsar,-,<10
29,Nobero India,"Manufacturing, Design, Services, Marketplace",Sahibzada Ajit Singh Nagar,-,501 to 1000

In [83]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [84]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [85]:
startup_data6 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data6.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [86]:
df6 = pd.DataFrame(startup_data6)
print(df6.head())

                     name                                           sectors  \
0  LearnElectronics India                               Education, Hardware
1          Indian Xporter                                         Logistics
2            Viacom India  Content, Media, Animation & Filmography, MarTech
3     Rishi India Travels                                Travel/Hospitality
4      SEO Services India       Social Media, Design, Services, Marketplace

  headquarters funding employee_count
0    New Delhi       -            <10
1       Nagpur       -       21 to 40
2            -       -       41 to 60
3       Jaipur       -       41 to 60
4    Bangalore       -            <10

In [87]:
df6.to_csv("yourstory_startups6.csv", index=False)
df6 = pd.read_csv("yourstory_startups6.csv")
df6

,name,sectors,headquarters,funding,employee_count
0,LearnElectronics India,"Education, Hardware",New Delhi,-,<10
1,Indian Xporter,Logistics,Nagpur,-,21 to 40
2,Viacom India,"Content, Media, Animation & Filmography, MarTech",-,-,41 to 60
3,Rishi India Travels,Travel/Hospitality,Jaipur,-,41 to 60
4,SEO Services India,"Social Media, Design, Services, Marketplace",Bangalore,-,<10
5,INDIA NETWORK,"Community, Enterprise Tech, Recruitment, Colla...",Gurgaon,-,21 to 40
6,Krishna Construction India,"Construction, Design, Services",Faridabad,-,41 to 60
7,Ceeon India Pvt. Ltd.,Manufacturing,Noida,-,41 to 60
8,First Edu India,EdTech/Education,Faridabad,-,41 to 60
9,Whatnot India,"Direct-To-Consumer Brands, Retail, Consumer El...",Hyderabad,-,61 to 100
10,Alex Pipes India,Manufacturing,Mumbai,-,21 to 40
11,Indian Silk House Exclusives,Services,Kolkata,-,251 to 500
12,Trav My India,Travel/Hospitality,Kolkata,-,<10
13,India day30,"Media, Technology, Insurance, Government & Mil...",Chakdaha,-,<10
14,India Property Dekho,Real Estate,Gurgaon,-,41 to 60
15,India Self News,"Media, Social Media",Sidhi,$10.0k,<10
16,Gardens of India,"Direct-To-Consumer Brands, E-Commerce, FMCG, R...",Siliguri,-,11 to 20
17,Veils India,Retail,Noida,-,11 to 20
18,Finepack India,Manufacturing,Ernakulam,-,41 to 60
19,POKONUT INDIA,"Direct-To-Consumer Brands, E-Commerce",Bengaluru,-,11 to 20
20,ARCPRO DIGITAL INDIA,"Technology, Social Media, AdTech, MarTech",Pune,-,11 to 20
21,Zenius india,HealthTech / MedTech / Healthcare,New Delhi,-,11 to 20
22,GI Cancer India,"HealthTech / MedTech / Healthcare, Travel/Hosp...",New Delhi,-,41 to 60
23,IndiaBizForSale,FinTech,Ahmedabad,-,11 to 20
24,Actax India,"Recruitment, Administrative Services, Services",Bangalore,-,11 to 20
25,Ruggd Indian,"Sports, Direct-To-Consumer Brands, Retail, Clo...",Mumbai,-,<10
26,Indian Nexus,"Enterprise Tech, Entertainment, Administrative...",Delhi,-,<10
27,GIKS India,"Software, Technology, Social Media",Dehradun,-,21 to 40
28,Mobi India,Services,Gurgaon,-,21 to 40
29,The Wanderer India,"Entertainment, Travel/Hospitality",Noida,-,<10

In [88]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [89]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [90]:
startup_data7 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data7.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [91]:
df7 = pd.DataFrame(startup_data7)
print(df7.head())

                    name                      sectors headquarters funding  \
0     Salam Mirror India  Media, Social Media, Events       Mumbai       -
1           IndiaDeposit                      FinTech    New Delhi       -
2  Sokudo Electric India    Manufacturing, Automotive        Delhi       -
3          Unitile India                 Construction       Mumbai       -
4        WordPress india       E-Commerce, Technology      Gurgaon       -

  employee_count
0            <10
1            <10
2       21 to 40
3     251 to 500
4     151 to 250

In [92]:
df7.to_csv("yourstory_startups7.csv", index=False)
df7 = pd.read_csv("yourstory_startups7.csv")
df7

,name,sectors,headquarters,funding,employee_count
0,Salam Mirror India,"Media, Social Media, Events",Mumbai,-,<10
1,IndiaDeposit,FinTech,New Delhi,-,<10
2,Sokudo Electric India,"Manufacturing, Automotive",Delhi,-,21 to 40
3,Unitile India,Construction,Mumbai,-,251 to 500
4,WordPress india,"E-Commerce, Technology",Gurgaon,-,151 to 250
5,India Logistic Packers and Movers,Logistics,Haridwar,-,<10
6,Virtual India,Services,Chennai,-,11 to 20
7,SSAT India,Education,Gurugram,-,61 to 100
8,SANDS India,"Energy, Hardware, Manufacturing, Technology",Chennai,-,151 to 250
9,Indian Computer Education Institute,"Education, Software",Ahmedabad,-,<10
10,SKILL TALKS INDIA,"Content, EdTech/Education",Sikar,-,151 to 250
11,GetPage India,"Software, Technology, Design",Siwana,-,<10
12,India Top Tours,Travel/Hospitality,Jaipur,-,<10
13,CFI - Coaching foundation India,"Administrative Services, Services",Chennai,-,61 to 100
14,One India Securities,FinTech,Dhupguri,-,11 to 20
15,Hire Help India,Services,Gurgaon,-,<10
16,Production Modeling India,Services,Nagpur,-,151 to 250
17,Al Safa Demolition Contractors India,Construction,Chennai,-,11 to 20
18,Indianlays,"Consumer, Services",New Delhi,-,<10
19,India Online Loan Services,Services,Mumbai,$5.0M,<10
20,EverBloom India,Clothing & Apparel,Jaipur,-,<10
21,Calley India,E-Commerce,Mohali,-,41 to 60
22,Raj Flavours India,"FoodTech, FMCG, Manufacturing",Sriganganagar,-,21 to 40
23,iFRAGRANCE INDIA,"E-Commerce, Beauty & Personal care",Kannauj,-,<10
24,Bongchie India,"FMCG, Manufacturing",New Delhi,-,61 to 100
25,IndianVillez,"Retail, Clothing & Apparel",Bhubaneswar,-,11 to 20
26,ICRL INDIA,"Education, Services",Mumbai,-,11 to 20
27,Country Holidays Travel India,"Tourism, Travel/Hospitality",Delhi,-,151 to 250
28,Fast India Press,Media,Midnapore,-,<10
29,Sagami India - Japanese Logistics,Logistics,Tokyo,-,<10

In [93]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [94]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [95]:
startup_data8 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data8.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [96]:
df8 = pd.DataFrame(startup_data8)
print(df8.head())

                  name                                       sectors  \
0  The Talented Indian              Entertainment, Media, Technology
1      India Internets                                      Services
2  DREAM ESPORTS INDIA  E-Commerce, Gaming, SaaS, Clothing & Apparel
3         Swayam India            Manufacturing, Retail, Marketplace
4         Evable India     Software, Technology, Hyperlocal, FinTech

  headquarters funding employee_count
0    New Delhi       -       21 to 40
1        Delhi  $60.0k      61 to 100
2  Navi Mumbai       -       11 to 20
3     Gurugram       -       11 to 20
4  Bhubaneswar       -      61 to 100

In [97]:
df8.to_csv("yourstory_startups8.csv", index=False)
df8 = pd.read_csv("yourstory_startups8.csv")
df8

,name,sectors,headquarters,funding,employee_count
0,The Talented Indian,"Entertainment, Media, Technology",New Delhi,-,21 to 40
1,India Internets,Services,Delhi,$60.0k,61 to 100
2,DREAM ESPORTS INDIA,"E-Commerce, Gaming, SaaS, Clothing & Apparel",Navi Mumbai,-,11 to 20
3,Swayam India,"Manufacturing, Retail, Marketplace",Gurugram,-,11 to 20
4,Evable India,"Software, Technology, Hyperlocal, FinTech",Bhubaneswar,-,61 to 100
5,Travel To India,Travel/Hospitality,New Delhi,-,<10
6,Modular Concepts India,"Construction, Manufacturing, Real Estate",Palakkad,-,61 to 100
7,Web Designer India,"Technology, Design, Services",Mumbai,-,11 to 20
8,Trans Cargo India Packers,Services,Bangalore,-,21 to 40
9,OTU India,Recruitment,Bengaluru,-,41 to 60
10,Softrate India,"SaaS, Software, Technology, Social Media",Chennai,-,61 to 100
11,Indian School of Image Management,EdTech/Education,Mumbai,-,21 to 40
12,Bhaago India,"Community, Events, HealthTech / MedTech / Heal...",Bengaluru,-,<10
13,Kenstar India,"E-Commerce, Manufacturing, Consumer Electronics",Gurgaon,-,151 to 250
14,Carton India,Construction,Kannur,-,11 to 20
15,Handycraft India,"E-Commerce, Manufacturing, Retail, Clothing & ...",Jaipur,-,41 to 60
16,Ab Initio India,Services,New Delhi,-,11 to 20
17,AEPS India,"FinTech, Software",Jaipur,-,41 to 60
18,India Flux,"Content, Media, Services",Shahjahanpur,-,<10
19,Agriplex India,"Agriculture, AgriTech, Services",Bengaluru,-,11 to 20
20,EVTL India,"Consumer, Direct-To-Consumer Brands, Administr...",Delhi,-,21 to 40
21,Taj Indian,FoodTech,Białystok,-,<10
22,UG4 INDIA,"Direct-To-Consumer Brands, Manufacturing, Real...",Gurugram,$2.0M,151 to 250
23,Benison India,"Direct-To-Consumer Brands, E-Commerce, Marketp...",Gurgaon,-,<10
24,Global Colors of India,"Mobility / Transportation, Tourism, Travel/Hos...",Shimla,$10.0k,61 to 100
25,Fuelcab India,"Consumer, Direct-To-Consumer Brands, E-Commerc...",Greater Noida,-,11 to 20
26,Indiasupplemement,Retail,Delhi,-,11 to 20
27,Biobritte India,"AgriTech, FMCG, Life Sciences, BioTech/BioPhar...",Kolhapur,-,<10
28,Sahyadri Transline India,Logistics,Navi Mumbai,-,<10
29,India Thrills,Travel/Hospitality,Rishikesh,-,<10

In [98]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [99]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [100]:
startup_data9 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data9.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [101]:
df9 = pd.DataFrame(startup_data9)
print(df9.head())

                      name                          sectors headquarters  \
0              IndiaCharts                 EdTech/Education       Mumbai
1  Forest Essentials India                       E-Commerce        Noida
2             Mc Fox india  E-Commerce, Retail, Marketplace        Delhi
3   Suthe E-Commerce India                       E-Commerce    Mangalore
4              Ceeon India        Manufacturing, Automotive        Delhi

  funding employee_count
0       -       11 to 20
1       -     251 to 500
2       -            <10
3       -            <10
4       -          1000+

In [102]:
df9.to_csv("yourstory_startups9.csv", index=False)
df9 = pd.read_csv("yourstory_startups9.csv")
df9

,name,sectors,headquarters,funding,employee_count
0,IndiaCharts,EdTech/Education,Mumbai,-,11 to 20
1,Forest Essentials India,E-Commerce,Noida,-,251 to 500
2,Mc Fox india,"E-Commerce, Retail, Marketplace",Delhi,-,<10
3,Suthe E-Commerce India,E-Commerce,Mangalore,-,<10
4,Ceeon India,"Manufacturing, Automotive",Delhi,-,1000+
5,OK India,"AgriTech, Direct-To-Consumer Brands, E-Commerc...",Gurugram,$1.0M,41 to 60
6,Blue Ocean Academy India,"Education, Logistics",Dubai,-,151 to 250
7,Motovil India,"E-Commerce, Automotive",Kolkata,-,<10
8,Vacation Trip India,Travel/Hospitality,Udaipur,-,11 to 20
9,Legal Indians,"Content, Services",Delhi,-,<10
10,India Career Centre,Services,Hyderabad,-,<10
11,Online Legal India,Services,Kolkata,-,501 to 1000
12,Humanity Foundation of India,"Community, Public policy, Services",Lucknow,-,151 to 250
13,Indian Corporate Gifts,E-Commerce,New Delhi,-,<10
14,India Tourism,Travel/Hospitality,Noida,-,21 to 40
15,Ferosh india,E-Commerce,Noida,-,21 to 40
16,Gemeria Hair India,"E-Commerce, Fashion & Accessories",Greater Noida,-,21 to 40
17,DARTERS INDIA RESORT,"Art & Design, Community, Consumer, E-Commerce,...",Cuttack,$400.0k,<10
18,Prodemy India,"Social Media, MarTech, Services",New Delhi,-,21 to 40
19,Forethought India,EdTech/Education,Guwahati,-,<10
20,Prymus Brandcom India,"Art & Design, Entertainment, Social Media, Design",Noida,-,11 to 20
21,Medimove India,Manufacturing,Faridabad,-,41 to 60
22,Pain Free India Physiotherapy at Home,"HealthTech / MedTech / Healthcare, Travel/Hosp...",Gurugram,-,21 to 40
23,India Mitra,Media,Lucknow,-,11 to 20
24,Aitihya India,Direct-To-Consumer Brands,Jabalpur,-,<10
25,Flora India,"Consumer, Services",New Delhi,-,<10
26,Astra Indo Pharma India,"FMCG, HealthTech / MedTech / Healthcare",Delhi,-,11 to 20
27,MBC BACCHAWALA INDIA,Clothing & Apparel,New Delhi,-,<10
28,IndianteQ,"E-Commerce, Software, Social Media, EdTech/Edu...",Patna,-,<10
29,ZOONIS INDIA,"Consumer, E-Commerce, Software, Consumer Elect...",New Delhi,-,11 to 20

In [103]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://yourstory.com/companies/search?q=india&page=1")

In [104]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, "html.parser")

In [105]:
startup_data10 = []

for row in soup.select("tr.hit"):
    cells = row.find_all("td")
    if len(cells) >= 6:
        name = cells[1].get_text(strip=True)
        sectors = cells[2].get_text(strip=True)
        headquarters = cells[3].get_text(strip=True)
        funding = cells[4].get_text(strip=True)
        employee_count = cells[5].get_text(strip=True)

        startup_data10.append({
            "name": name,
            "sectors": sectors,
            "headquarters": headquarters,
            "funding": funding,
            "employee_count": employee_count
        })

In [106]:
df10 = pd.DataFrame(startup_data10)
print(df10.head())

                  name                                            sectors  \
0         Sparsh Foods                             FoodTech, FMCG, Retail
1  Sunsys Technologies         E-Commerce, Social Media, Design, Services
2               Fossil                   E-Commerce, Consumer Electronics
3         XS Worldwide                       Technology, Events, Services
4                Cabme  Mobility / Transportation, Tourism, Travel/Hos...

  headquarters funding employee_count
0  Nelamangala       -    501 to 1000
1    Bangalore  $12.0k       11 to 20
2    Bangalore       -     251 to 500
3        Noida       -      61 to 100
4       Jaipur       -            <10

In [107]:
df10.to_csv("yourstory_startups10.csv", index=False)
df10 = pd.read_csv("yourstory_startups10.csv")
df10

,name,sectors,headquarters,funding,employee_count
0,Sparsh Foods,"FoodTech, FMCG, Retail",Nelamangala,-,501 to 1000
1,Sunsys Technologies,"E-Commerce, Social Media, Design, Services",Bangalore,$12.0k,11 to 20
2,Fossil,"E-Commerce, Consumer Electronics",Bangalore,-,251 to 500
3,XS Worldwide,"Technology, Events, Services",Noida,-,61 to 100
4,Cabme,"Mobility / Transportation, Tourism, Travel/Hos...",Jaipur,-,<10
5,Klean-Green,"Community, E-Commerce, Manufacturing",Bengaluru,-,<10
6,BTW Visa Services,Travel/Hospitality,Pune,-,41 to 60
7,Truly Earthy,"Art & Design, E-Commerce",New Delhi,-,<10
8,SURBHI GAJAK,"FoodTech, FMCG, Manufacturing, AdTech",Jaipur,-,<10
9,Strike,FinTech,Mumbai,-,11 to 20
10,Sundae,"Social Media, DeepTech, Events",Faridabad,-,<10
11,Shikhar Travels,"Mobility / Transportation, Services, Tourism, ...",Delhi,-,11 to 20
12,Shree Tripada,"Communication, Services",Ahmedabad,-,11 to 20
13,VERTS,"Enterprise Tech, Software, Technology, Analyti...",Noida,-,21 to 40
14,Skandhanshi Infra Projects,"Construction, Real Estate",Kurnool,-,1000+
15,YatriRestro,"E-Commerce, Tourism, Travel/Hospitality",Patna,-,11 to 20
16,Pickle Gallery,"Direct-To-Consumer Brands, FMCG",Indore,-,<10
17,WDIPL,"Enterprise Tech, Software, Technology, Machine...",Mumbai,-,61 to 100
18,Crazy D,"E-Commerce, Retail, Hyperlocal, Marketplace",Pune,$20.0k,<10
19,Stanar,Travel/Hospitality,Hyderabad,-,11 to 20
20,Splendid Facility Management,"Consumer, Administrative Services, Services, M...",Pune,-,501 to 1000
21,Nayaha,"Community, Gaming, Media, Social Media",Indore,-,<10
22,Paninian,Aerospace & Defense,Bengaluru,-,21 to 40
23,Resource Engimech,"Manufacturing, Services",Baroda,-,21 to 40
24,Vinterview AI,"Recruitment, SaaS, Software, Machine Learning",Bangalore,-,21 to 40
25,MesoPet,E-Commerce,Delhi,-,11 to 20
26,Scottish High International School,EdTech/Education,Gurgaon,-,251 to 500
27,Spine Technologies,"Recruitment, SaaS, Software, Technology, Services",Mumbai,-,151 to 250
28,The Colourmoon Technologies,"Media, Software, Technology, Services, Marketp...",Visakhapatnam,-,151 to 250
29,BookEinstein,EdTech/Education,Mumbai,-,11 to 20

In [108]:
import pandas as pd
import glob

# Step 1: Collect all CSV file paths
csv_files = sorted(glob.glob("yourstory_startups*.csv"))

In [121]:
# Step 2: Read and store DataFrames
dfs = [pd.read_csv(file) for file in csv_files]

In [122]:
# Step 3: Concatenate all DataFrames
merged_df = pd.concat(dfs, ignore_index=True)

In [123]:
merged_df

,name,sectors,headquarters,funding,employee_count
0,VTC-India,Direct-To-Consumer Brands,Jamnagar,$500,41 to 60
1,A New India,"Software, Technology, Services",New Delhi,$1.0k,41 to 60
2,Topdeck India Tour Booking Pvt Ltd,"Consumer, Travel/Hospitality",Jaipur,$1.1k,<10
3,Packers And Movers India,Services,Vadodara,$2.0k,<10
4,India Self News,"Media, Social Media",Sidhi,$10.0k,<10
...,...,...,...,...,...
325,Flora India,"Consumer, Services",New Delhi,-,<10
326,Astra Indo Pharma India,"FMCG, HealthTech / MedTech / Healthcare",Delhi,-,11 to 20
327,MBC BACCHAWALA INDIA,Clothing & Apparel,New Delhi,-,<10
328,IndianteQ,"E-Commerce, Software, Social Media, EdTech/Edu...",Patna,-,<10
329,ZOONIS INDIA,"Consumer, E-Commerce, Software, Consumer Elect...",New Delhi,-,11 to 20

In [124]:
merged_df.duplicated().value_counts()

False    306
True      24
Name: count, dtype: int64

In [125]:
# Step 4: Drop duplicates (based on all columns)
merged_df.drop_duplicates(inplace=True)

In [126]:
# Step 5: Save the final merged dataset
merged_df.to_csv("yourstory_startups_merged.csv", index=False)

print(f"Merged {len(csv_files)} files into one dataset with {len(merged_df)} unique rows.")

Merged 11 files into one dataset with 306 unique rows.

In [127]:
data = pd.read_csv("yourstory_startups_merged.csv")

In [128]:
data

,name,sectors,headquarters,funding,employee_count
0,VTC-India,Direct-To-Consumer Brands,Jamnagar,$500,41 to 60
1,A New India,"Software, Technology, Services",New Delhi,$1.0k,41 to 60
2,Topdeck India Tour Booking Pvt Ltd,"Consumer, Travel/Hospitality",Jaipur,$1.1k,<10
3,Packers And Movers India,Services,Vadodara,$2.0k,<10
4,India Self News,"Media, Social Media",Sidhi,$10.0k,<10
...,...,...,...,...,...
301,Flora India,"Consumer, Services",New Delhi,-,<10
302,Astra Indo Pharma India,"FMCG, HealthTech / MedTech / Healthcare",Delhi,-,11 to 20
303,MBC BACCHAWALA INDIA,Clothing & Apparel,New Delhi,-,<10
304,IndianteQ,"E-Commerce, Software, Social Media, EdTech/Edu...",Patna,-,<10
305,ZOONIS INDIA,"Consumer, E-Commerce, Software, Consumer Elect...",New Delhi,-,11 to 20

In [133]:
# Define funding round categories
funding_map = {
    
    'OK India': 'Seed',
    'SweeDesi India':'Seed',
    'One Connected': 'Seed',
    'Esports Daily': 'Series A',  
    'Eduncle': 'Series A',  
    'Buyceps': 'Seed',
    'eBik': 'Seed',
    'Bolo Indya': 'Seed',
    'Vikalp India': 'Series A',
    'US India Blockchain Council': 'Series A',
    'Mapmygenome': 'Series A',
    'Eko': 'Other',
    'GIVA Jewellery': 'Series B',
    'NbliK': 'Angel',
    'IndicWisdom': 'Equity Crowdfunding',
    'Trylaa': 'Pre Seed'
}

# Assign funding round
data['funding_round'] = data['name'].map(funding_map)

In [134]:
data

,name,sectors,headquarters,funding,employee_count,funding_round
0,VTC-India,Direct-To-Consumer Brands,Jamnagar,$500,41 to 60,NaN
1,A New India,"Software, Technology, Services",New Delhi,$1.0k,41 to 60,NaN
2,Topdeck India Tour Booking Pvt Ltd,"Consumer, Travel/Hospitality",Jaipur,$1.1k,<10,NaN
3,Packers And Movers India,Services,Vadodara,$2.0k,<10,NaN
4,India Self News,"Media, Social Media",Sidhi,$10.0k,<10,NaN
...,...,...,...,...,...,...
301,Flora India,"Consumer, Services",New Delhi,-,<10,NaN
302,Astra Indo Pharma India,"FMCG, HealthTech / MedTech / Healthcare",Delhi,-,11 to 20,NaN
303,MBC BACCHAWALA INDIA,Clothing & Apparel,New Delhi,-,<10,NaN
304,IndianteQ,"E-Commerce, Software, Social Media, EdTech/Edu...",Patna,-,<10,NaN
305,ZOONIS INDIA,"Consumer, E-Commerce, Software, Consumer Elect...",New Delhi,-,11 to 20,NaN